
<%- include("layout/header.ejs") %>


<main>
  <form action="/" method="post">
    <input type="text" placeholder="Enter a new of programig language" name="plName">
    <button type="submit">Add Data</button>
  </form>

    <ul>
      <% if(plNames.length>0){ %>

        <% for(let i=0;i<plNames.length;i++){%>

          <li>
            <%= plNames[i]%>
          </li>
          <%}%>

            <%}else{%>
              <p>No data available</p>
              <%}%>
    </ul>
  </main>
  <%- include("layout/footer.ejs") %>