* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c2c2c;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
nav a {
  color: whitesmoke;
  transition: all 0.3s;
}

nav a:hover {
  color: orange;
}

main {
  padding: 1rem 2rem;
  height: 90vh;
}

input {
  width: 20rem;
}

footer {
  padding: 1rem 2rem;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  color: whitesmoke;
}
